<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Highcharts Example</title>
</head>
<body>
  <div id="container"></div>
<!--container 라는 이름으로 그려야한다 id 이기 때문에-->
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <!--하이차트를 그리는데 필요한 하이차트사이트에서 제공하는 코드 다른 작업을 하기 위해 또 다른 코드를 넣기도 한다.-->
  <script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
            /*차트에 유형을 지정하는 작업 bar로 하면 수평막대그래프로 나온다*/
        },
        title: {
            text: '대륙별 인구 변천사'
        },
        xAxis: {
            categories: ['아프리카', '미주', '아시아', '유럽', '오세아니아']
        },
        series: [{
            name: 'Year 1800',
            data: [107, 31, 635, 203, 2]
        }, {
            name: 'Year 1900',
            data: [133, 156, 947, 408, 6]
        }, {
            name: 'Year 2012',
            data: [1052, 954, 4250, 740, 38]
        }]
    });
      /*세미콜론으로 끝나는건 자바 스크립트, 내부 파이썬에 사전모형이다. name 키와 data 키가 있다.*/
  </script>
</body>
</html>